{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Effect": "Allow",
            "Action": [
                "sns:ConfirmSubscription",
                "sns:Receive"
            ],
            "Resource": "arn:aws:sns:us-east-1:$awsAccountId:*"
        }
    ]
}
